{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Redefinição de Senha</title>
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Nova Senha</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Redefinir Senha</button>
        </form>
        <a href="{% url 'login' %}">Voltar para login</a>
    </div>
</body>
</html>
